/* =========================================================================================================================================
STRONA OGóLNE informacje w tej sekcji odnoszą sie do wszyskich stron.
========================================================================================================================================== */
*{
box-sizing: border-box;
margin: 0;
}

html {
scroll-behavior: smooth;
}

body{
background-color: var(--bg);
overflow: hidden;
  color: var(--text);
}



/* ==========================================
STRONA OGULNE – CSS / NAWIGACJA MENU
========================================== */
.nav{
justify-content: flex-end;
gap: 30px;
z-index: 10;
display: flex;
align-items: center;
position: fixed;
width: 100%;
height: 100px;
background-color: var(--przezroczyste-nav);
list-style-type: none;
transition: height 0.6s ease, gap 0.6s ease, border-bottom-color 0.9s ease; 
}

/* ==========================================
STRONA OGULNE – CSS / NAWIGACJA MENU na mobilki
========================================== */


@media (max-width: 768px){

  .nav{
    position: fixed;
    top: 7vh;
    left: 0;

    width: 75%;
    height: 93vh !important;

    padding: 2rem;
    background-color: var(--mini-nav);
  backdrop-filter: blur(10px);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 1000;
  }

  #nav-header.open{
    transform: translateX(0);

  }

  .ulul{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1.5rem;
  }

  .anno{
    margin-left: 20%;
    margin-bottom: 10%;
    width: 200px;
    margin-top: auto;
        justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
  }
}

/* Ukrywamy listę */
.lista {
    list-style-type: none;

    text-decoration: none;
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.797);
    list-style: none;
    padding: 5px;
}

/* Magia: Kiedy najedziesz na LI, pokaż listę w środku */
li:hover .lista {
    display: block;
    cursor: pointer;
}
.li-lista {
  list-style-type: none;

    text-decoration: none;
    display: block;
    color: #000000;
}
.li-lista:hover {
  list-style-type: none;

    text-decoration: none;
  color: #bfff00;
  background-color: #00000063;
}
/* ==========================================
STRONA OGULNE – CSS / NAWIGACJA MENU z x ponizej 768 (telefony tablety)
========================================== */
.X-menu{   
  background-color:rgba(235, 235, 235, 0.82);
  backdrop-filter: blur(10px);
  color: var(--text);
}
body.dark-theme .X-menu{
    background-color:rgba(33, 33, 33, 0.82);
}
@media (max-width: 768px) {
  .X-menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5%;
    width: 100%;
    /* ZAMIAST 5vh użyj px: */
    height: 7svh; 
    align-content: center;
    z-index: 2000;
    /* Dodaj to, żeby "zamrozić" element: */
    transform: translateZ(0);
  }

}
.burger{
  position: relative;
  display: none;
}

@media (max-width: 768px){
  .burger{
    position: relative;
    display: flex;
      flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    color: #ffffff;
    z-index: 1100;
    width: 30px;
    height: 27px;
    text-align: left;
    font-size: 1px;
  }
}
#overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 900;
}

#overlay.active{
    z-index: 900;
  opacity: 1;
  pointer-events: auto;
}



/* ==========================================
efekt zminy burgera na x-a
========================================== */
.burger span{
  display: block;
  height: 2px;
  color: #ffffff;
  background-color: #000000;
  width: 150%;
  border-radius: 2px;
  transition: 0.3s ease;
}
body.dark-theme span{
}
.burger.open span:nth-child(1){
  transform: rotate(45deg) translate(12px, 1px);
}

.burger.open span:nth-child(2){
  opacity: 0;
}

.burger.open span:nth-child(3){
  transform: rotate(-45deg) translate(13px, -6px);
}
/* ==========================================
zmniejszenie paska navigacji przy scrollowaniu patrz js 
========================================== */

.ulul{

display: flex;
color: var(--text);
align-items: center;
list-style-type: none;
gap: 20px;
font-size: 15px;
font-family: sans-serif;
flex-wrap: nowrap;
}
@media (max-width: 768px){
  .ulul{
  font-size: 20px;
  text-align: center;
  }
}
.a0{
text-decoration: none;
cursor: pointer;
color: rgb(0, 0, 0);
background-color: #a7a7a7c2;
transition:0.3s;
}
body.dark-theme .a0{
  color: white;
}
.a0:hover{
  width: 100%; 
  color: #bfff00;
  background-color: #00000063;
}
.a0.active{
  background-color: #bae047;
  width: 100%; 
  color: var(--oliwka)
}

.a0.active::after{
  width: 100%; 
  color: #002dbf;
}
.a0{
position: relative;
color: var(--nananana);
padding-top: 3%;
padding-bottom: 3px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
font-style: normal;
}

.a0::after{
  content: "";
  position: absolute;
  left: 50%;            /* start w środku */
  bottom: 0;
  height: 3px;
  width: 0;             /* start od 0 */
  background-color: #191919;
  transform: translateX(-50%);  /* przesunięcie środka pod tekst */
  transform-origin: center;     /* linia rośnie od środka */
  transition: width 0.3s;
    margin-top: 10px; 
    z-index: 999;
}
body.dark-theme .a0::after{
  background-color: #ffffff;
}
.a0:hover::after {
  width: 100%; 
  color:blue ;   /* rozwija się do pełnej długości tekstu */
}
.as{
display: flex;
gap: 10%;
width: 70%;
}

/* ==========================================
STRONA OGULNE – CSS / NAWIGACJA - PRZYCISK (dołącz do nas)
========================================== */

.anno{
width: 300px;
margin-right: 0%;
font-family: sans-serif;
color: #000000;
}

/* ==========================================
PRZYCISK (dołącz do nas)
========================================== */

/* ======
wersja 1
========= */
.dolacz-do-nas{
  padding: 3%;
list-style-type: none;
border-style: solid;
border-width: 1.0px;
/* wypycha element w prawo */  
text-decoration: none;
cursor: pointer;
color: var(--text);
}




.dolacz-do-nas:hover{
border-color: #bfff00;
background-color: #0000003d;
color: #bfff00;
}



/* ============================================================================================================================
STRONA 1 – CSS          
============================================================================================================================ */
main{
margin: 0 auto;
margin-left: 0vw;
margin-right: 0vw;
}

/* ==========================================
STRONA 1 – CSS / dałem znacznie mniejsze padingi na mobilki
========================================== */
@media (max-width: 768px){
  main{
  margin: 0 auto;
  }
}



/* ==========================================
STRONA 1 – CSS / NAGŁÓWEK
========================================== */
.naglowek{
background-image: url(./zd_daw/naj-gal-2-copa.jpg);
position: relative;
z-index: 1; 
background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed; 
color:white;
height: 100svh;
width: 100%;
}
@media (max-width: 768px){
.naglowek{
height: 80svh;
margin-bottom: 5rem;

}
}

@media (max-width: 768px){
  main{
  height: auto;
  
  }
}





/* ==========================================
STRONA 1 – CSS /SEKCJIA DLCZEGO
========================================== */
.section-dlaczego{
margin: 3%;
margin-top: 2vh;
display: flex;
flex-wrap: wrap; 
background-color: var(--element-czesc-bg);    /*background-color: #EBD5AB;*/
}


/* ==========================================
STRONA 1 – CSS /SEKCJIA DLCZEGO LEWA 
========================================== */
.div1{
  flex: 1 1 60%;
  min-width: 940px;
  height: fit-content;
background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.211);
  aspect-ratio: 16 / 9; 
}

@media (max-width: 768px){
.div1{
    min-width: auto;
}
}
#rotator{
  height: auto!important;
}
/* ==========================================
STRONA 1 – CSS /SEKCJIA DLCZEGO PRAWA 
========================================== */
.div2{
width: 35%;
  flex: 1 1 35%;
  min-width: 260px;
padding: 2%;
text-align: right;

}
@media (max-width: 768px){
.div2{
  width: 100%;
  }
}
/*  NAGŁÓWEK  */
.heder2{
font-size: 75px;
font-family: Montserrat, sans-serif !important;
font-weight: 700;
margin-bottom: 10px;
padding: 2%;
color: var(--text);
}

.heder2::after{
position: absolute;
bottom: 0;
content: "";
position: absolute;    
width: 20%;
right: 0;
background-color: #9cc328;
height: 5px;

}
body.dark-theme .heder2{
color: #f5f5f5;
}

@media (max-width: 768px){
  .heder2{
  font-size: 35px;
  }
}



/* ==========================================
STRONA 1 – CSS /SEKCJIA DLCZEGO PRAWA / pomoc 
========================================== */


/* /POMOC LEWA */
.pomoc{
display: flex;  
flex-wrap: wrap;
justify-content: right;
text-align: right;

}
/*  pomoc - [lewa]  */
.p{
  color: #656565;
  width: 100%;
  font-size: 22px;
  padding: 2%;
  font-weight: 400;
    font-family: Helvetica, Arial, 'Microsoft Yahei', sans-serif;
        line-height: 1.8;
          letter-spacing: 0.5px;
}

.p-nd{
    color: var(--oliwka);
      font-size: 27px;
    font-style: oblique;
    padding: 2%;
}
.ramka{
border: solid 0px;
padding: 2%;
border-color: var(--accent);
background-color: #ffffff00;
height: 100%;
}
@media (max-width: 768px){
  .p{
    width: 100%;
    font-size: 16px; 
    padding: 2%;
  }
}

.p-modal{
font-size: 20px;
  text-align: left;
}
@media (max-width: 768px){
  .p-modal{
  font-size: 14px;
  padding: 2%;
  }
}


/* /POMOC PRAWA */
/*  pomoc - [PRAWA] - lista */
li{
    list-style-type: none;
    text-decoration: none;
}
.lista-1{
width: 50%;
display: flex;  
padding: 2%;
flex-direction: column;
border-radius: 24px;
list-style-position: inside; 
border: solid, 2px #063014;
text-align: center;
list-style: none;
}
.lista-artykol{
padding: 2%;
font-size: 22px;
color: black;

}

/*  pomoc - [PRAWA] - ikonki 
przeplatające sie z listą w pinie */

.material-symbols-outlined{
font-size: 30px;
transition: background-color 0.6s ease, transform 0.3s ease;

}


.material-symbols-outlined:hover{
}

/* ==========================================
STRONA 1 – CSS /SEKCJIA DLCZEGO PRZYCISK Węcej (modal)
========================================== */

.button-wiecej{
cursor: pointer;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border: solid, 1px;
width: 140px;
height: 50px;
background-color: #f5f5f5;
text-align: center;
align-content: center;
transition: background-color 0.6s ease, color 0.6s ease;
color: var(--oliwka);
} 
body.dark-theme .button-wiecej{
  background-color: #000000;
}
.button-wiecej:hover{
background-color:#d24d0088;
color: white;
}
.button-wiecej:active{
background-color:#0a4e22;
}


.p-end{
  width: 100%;
  font-size: 15px;
  padding: 2%;
}
/* ==========================================
 MODAL 
========================================== */
.more-link{
text-decoration: none;
color: inherit; 
cursor: pointer; 
}

.modal{
margin:0; 
position: fixed;
top: 0;
left: 0;
z-index: 999;
margin: 0%;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.5);
justify-content: center;
justify-items: center;
align-items: center;
}

/* ==========================================
 MODAL - tresci modala
========================================== */
.modal-content {
margin-top: 5%;
display: flex;
background: white;
height: 80%;
width: 60%;
max-height: 80%;
padding: 20px;
position: relative;
justify-content: center;
align-items: center;
overflow-y: auto;
}
@media (max-width: 768px) {
.modal-content {
margin-top: 7vh;
height: 80%;
width: 80%;
max-height: 86%;
}
}

/* ==========================================
 MODAL - przycisk zamykający modala
========================================== */
.zamknij{
color: #d24d00;
border: solid 1px;
border-color: #d24d00;
position: absolute; 
top:10px; 
right:15px; 
cursor: pointer;
transition: background-color 0.9s ease, color 0.9s ease, transform 0.9;
}
.zamknij:hover{
background-color: #ececec;
}


/* ==========================================
MODAL - modal ukryty patrz. JS [MODAL] 
========================================== */
.hidden{
display: none;
}


/* ==========================================
STRONA 1 – CSS /SEKCJIA PORADY
========================================== */
.section-porady{
height: auto;
}






/* ============================================================================================================================
STRONA 2 – CSS
============================================================================================================================ */

h2{
font-size: clamp(1rem, 13vw, 12rem);
text-align: left;
padding-left: 5vw;
font-family: Montserrat, sans-serif !important;
font-weight: 900;
color: var(--bd-tytol-dawid);
font-style: normal;
background-color: #00000036;
}

h1{
  background-color: #00000064;

line-height: 1;
font-size: clamp(1rem, 13vw, 12rem);
text-align: left;
padding-left: 5vw;
max-width: 14ch;
font-family: Montserrat, sans-serif !important;
font-weight: 900;
font-style: normal;
color: #a5d024;
/*#d2ff4c #9cc328 6B705C b7e922*/
}
body.dark-theme h1{
}
body.dark-theme h3{
  color: rgb(255, 255, 255);
}
h3::after{
  content: "";
  position: absolute;           /* start w środku */
  bottom: 1;
  height: 3px;
  width: 50%;             /* start od 0 */
  background-color: #9cc328; /* przesunięcie środka pod tekst */   /* linia rośnie od środka */
    margin-bottom: 10%;
      margin-left: -50%;
}
@media (max-width: 768px) {
h3::after{
  display: none;
 }
}
h2::after::after{
  content: "";
  position: absolute;           /* start w środku */
  bottom: 1;
  height: 3px;
  width: 50%;             /* start od 0 */
  background-color:#ff5e00; /* przesunięcie środka pod tekst */   /* linia rośnie od środka */
    margin-left: -50%;

}

h3{
  padding-top: 5%;
  padding-bottom: 2px;
font-size: clamp(1rem, 1.7vw, 4rem);
text-align: left;
padding-left: 5vw;
text-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
font-family: "Yeseva One", serif;
font-weight: 400;
color: #979797;
font-style: normal;
padding-bottom: 10%;
}

@media (max-width: 768px) {
h3{
    padding-top: 50%;
    text-align: center;
      top: 0;
}
}
@media (max-width: 768px) {
  h1{
  text-align: center!important;
  font-size: clamp(1rem, 14vw, 8rem);
  text-align: left;
  padding-left: 0vw;
  padding-top: 2vh;
  }
}
@media (max-width: 768px) {
  h2{
  font-size: clamp(1rem, 19vw, 8rem);
  text-align: center;
  padding: 0;
  }
}
.dc{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: clamp(1rem, 4vw, 4rem);
  font-weight: 700;
  line-height: 1.7;  
}
/* ==========================================
STRONA 2 – CSS BANER DOŁACZ DO NAS
========================================== */

@media (max-width: 768px) {
  .dolocz-heder{
  width: 80%;
  font-size: 5vw;
  color: #bfff00;
  padding-left: 5%;
  padding-top: 50%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-style: normal;
  }
}


/* ==========
TRESC TEXT
=============*/
.div-dolocz{
justify-items: center;
}


.p-dolocz{
  width: 50%;
  font-size: 20px;
  padding: 2%;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 750;
}
@media (max-width: 768px) {
  .p-dolocz{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 750;
    width: 100%;
  }
}



/* ==========================
NUMER INSTRUKCJI
=============================*/
.numer-instr{
display: flex;
color: #ffffff;
align-content: center;
height: 30px;
width: 30px;
margin-bottom: 5%;
background-color: #002dbf;
border-radius: 50%;
justify-content: center; /* poziome wycentrowanie numeru */
align-items: center;     /* pionowe wycentrowanie numeru */
margin-bottom: 10%;
}


/* ==========================
TREŚĆ INSTRUKCJI 
=============================*/
.instr-content{
margin-bottom: 15%;
}


/* ==========================
IKONKI pod instrukcjiami 
=============================*/
.dol{
font-size: 70px !important;
}
.instr-ico{
width: 100%;
}




/* ===========================================
STRONA 2 – CSS FORMULAZ
==============================================*/
.formulaz {
display: flex;                
flex-direction: column;      
align-items: center;        
gap: 10px;                    
text-align: center;
background-color: #ffffff;
width: auto;  
max-width: 1200px;                 
margin: 20px auto;            
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.211);
border-radius: 12px;
font-weight: 750;
padding: 20px;                
box-sizing: border-box;
padding-left: 17%;
padding-right: 17%;
}
body.dark-theme .formulaz{
 background-color: #0000004f;
}
form{
  min-width: 23vh;
}


/* ==========================================
STRONA 2 – CSS przycisk do kontaktu
========================================== */
.kontakt-button{
  border-radius: 12px;

margin-top: 3%;
width: 30%;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 750;
padding: 1%;
background-color: var(--text);
border-radius: 0.25rem;
transition: background-color 0.3s ease, color 0.3s ease;
border-radius: 12px;
box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.211);
}

@media (max-width: 768px) {
.kontakt-button{
width: 55%;
background-color: white;
}
}

.kontakt-button:hover{
background-color: #03210d;
color: white;
}
body.dark-theme .kontakt-button:hover{
background-color: #03210d;
color: white;
}
.kontakt-button:hover{
background-color: #03210d;
color: white;
}
.a-kontakt-przycisk {
  text-decoration: none;
  color: inherit;
}



/* ============================================================================================================================
STRONA 3 – CSS
============================================================================================================================ */
.main-3{
margin-left: 10%;
margin-right: 10%;
justify-items: center;
justify-content: center;
align-items: center;
align-content: center;
}

.zespol-heder{
font-size: 3vw;
color: #05220e;
padding-top: 4%;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 800;
font-style: normal;
}
.cala-sekcja-osoby{
  justify-items: center;
  margin-top: 10%;
 background-color: rgb(0, 0, 0);
 box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.211);
border-radius: 12px;
 margin-bottom: 5%;
}
.osoba{
  justify-items: center;
  font-size: 1rem;
color: #575757;
padding-top: 12%;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 800;
font-style: normal;
max-width: 450px;
}
.selection-osoby{
display: flex;
flex-wrap: wrap;
  justify-content: center;
align-content: center;
text-align: center;
margin-left: clamp(1rem, 1vw, 18rem);
margin-right: clamp(1rem, 1vw, 18rem);
padding-bottom: 20%;
background-color: #ffffff;
}

.zdjecie-osoba{
  border-radius: 50%;
  background-color: #002dbf;
  width: 15rem;
  height: 15rem;
    object-fit: cover;
  outline: 4px solid #03210d;
  outline-offset: 4px;
    overflow: hidden;   /* nic nie wychodzi poza box */
  object-fit: cover;  /* kluczowy magiczny trick */
  object-position: center; /* wycentrowanie obrazka */
}

.zdjecie-osoba img{
  width: 100%;
  height: 100%;
  object-fit: cover;        /* wypełnia cały box */
  object-position: 90% 90%; /* przesunięcie w boxie */
  filter: grayscale(100%);
  transition: all 500ms;
}

.zdjecie-osoba img:hover{
  width: 100%;
  height: 100%;
  object-fit: cover;        /* wypełnia cały box */
  object-position: 90% 90%; /* przesunięcie w boxie */
  filter: grayscale(0%);
}




.opis-osoba{
  font-weight: 500;
  hyphens: auto;
  padding-left: 1rem;
  padding-right: 1em;
}

/* ============================================================================================================================
FOOTER 1 – CSS                                                                                                                  
    INFO:                                                                                                                       
    footer {html} - JEST PRZECHOWYWANY W JS a wyzwalaczem dla niego jest:                                                       
        <div id="footer-placeholder"></div> 
            DZIEKI CZEMU NIE TRZEBA GO MIEC W HTML a zmieny sa wprowadzane naraz wszedzie!!!
            czyli ZMIANY w => js
============================================================================================================================ */

.footer{
/*background-color: #cbcbcb;*/
background-color: black;
}

/* ==========================================
FOOTER 1 – CSS TYTÓL:       ecolife.com
========================================== */
.footer-about{
padding-top: 2rem;
font-size: 2rem;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 800;
text-align: center;
color: #f5f5f5;

}

/* ==========================================
FOOTER 1 – CSS sekcja z ikonami mediów 
========================================== */

.media{
height: 100px;
gap: 5%;
display: flex;
justify-content: center; /* wycentrowanie poziome */
align-items: center;   
}

.mpun{
display: flex;           /* flexbox dla samego mpun */
justify-content: center; /* wyśrodkowanie poziome ikony */
align-items: center;     /* wyśrodkowanie pionowe ikony */
width: 65px;
height: 65px;
font-size: 35px;
border-radius: 50%;
color: #00bf63;
background-color: #383838;
border: solid, 3px;
border-color: #ffffff00;
}


@media (max-width: 768px) {
  .mpun{
  display: flex;           /* flexbox dla samego mpun */
  width: 45px;
  height: 45px;
  font-size: 2vh;
  }
}

/* ==========================================
FOOTER 1 – CSS ikony mediów do najechaniu
========================================== */

.fab.fa-facebook-f:hover{ 
color: #1877F2;          /*FACEBOOK*/

}

.fab.fa-twitter:hover{
color: #1DA1F2;                 /*TWITTER*/
}

.fab.fa-youtube:hover{
color: #ff0000;                 /*YOUTUBE*/
}

.fab.fa-instagram:hover{
color: #C13584;                 /*INSTAGRAM*/
}

.fab.fa-tiktok:hover{             /*TIKTOK*/
color: #000000;
}

.fab{
transition: background-color 0.3s ease, color 0.3s ease;
color: #ffffff;
}


/* ==========================================
FOOTER 1 – CSS DRUGIE MENU footerowe
========================================== */
.footer-links{
display: flex;        
align-content: center;
justify-content: center; 
align-items: center;  
width: auto;
height: 10rem;
background-color: #000000;
}
@media (max-width: 768px) {
  .footer-links{
  height: 6rem;
  display:block;
  }
}
.nav-footer{
font-size: 2rem;
display: flex;        
align-content: center;
justify-content: center; 
align-items: center;  
}

@media (max-width: 768px) {
  .nav-footer{
  font-size: 2vh;        
  }
}


.ulul-foter{
list-style: none;
direction: none;
gap: 3rem;
display: flex;           
justify-content: center; 
align-items: center;  

}

@media (max-width: 768px) {
  .ulul-foter{
  gap: 2rem;    
  padding: 0%;    
  }
}

/* ==========================================
FOOTER 1 – CSS INFO copyrid
========================================== */
.footer-copy{
font-size: 1rem;
font-weight: 500;
text-align: center;
background-color: #000000;
color: white;
padding: 2rem;
}
@media (max-width: 768px) {
  .footer-copy{
  font-size: 0.6rem;
  }
}

/* ============================================================================================================================
COOKIE 1 – CSS
============================================================================================================================ */
#cookie-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: rgba(0, 0, 0, 0.544);
  z-index: 9998; /* O jeden mniej niż baner */
  display: block;
}

#cookie-banner {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 20vh;
background: rgba(255, 255, 255, 0.544); backdrop-filter: blur(10px);

color: #2b2b2b;
padding: 20px;
font-weight: 700;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 9999;
}
@media (max-width: 768px) {
#cookie-banner {
gap: 2%;
width: 100%;
height: 60vh;
padding: 20px;
flex-direction: column;
justify-content:flex-start
}
}

/* ==========================================
COOKIE - CSS INFORMACJIA cookie
========================================== */
.p-coo{
font-size: 80%;
}
@media (max-width: 768px) {
.p-coo{
font-size: 90%;
margin-bottom: 7rem;
}
}

/* ==========================================
COOKIE - CSS PRZYCISKI
========================================== */
#cookie-banner button {
margin-left: 10px;
}


/* ==============
PRZYCISKI accept
=================*/
.accept{
width: 20dvw;
padding: 1%;
background-color:#000000c7;
border-radius: 0.30rem;
color: white;
font-weight: 750;
transition: background-color 0.3s ease, color 0.3s ease;
}
@media (max-width: 768px) {
.accept{
width: 90dvw;
height: 7svh;
}
}
.accept:hover{
color: #9cc328;
border: solid 1px #9cc328;;
}


/* ==============
PRZYCISKI delete
=================*/
.delete{
width: 20vw;
font-weight: 750;
padding: 1%;
background-color:#ffffffc7;
border-radius: 0.30rem;
border: solid 1px #000000;
transition: background-color 0.3s ease, color 0.3s ease;
color: red;
}
@media (max-width: 768px) {
.delete{
width: 90dvw;
height: 7svh;
}
}
.delete:hover{
background-color: rgba(170, 0, 0, 0.389);
color: white;
}













/* ==============
MOTYWY
=================*/

/* przykładowy przycisk używający koloru akcentu */
button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}



.edukacjia{
  color: var(--text);
  padding: 3%;
  display: flex;
    align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
.edukacjia{

  padding: 0;

}
}
body.dark-theme .edukacjia-header{
  background-color: #000000;
  color: white;
}
.text-edukacjia{
  background-color: #ffffff00;
  width: 50%;
  min-width: 300px;
}

@media (max-width: 768px) {
  .text-edukacjia{
    background-color: #ffffff00;
    width: 100%;
  }
}
.obraz-edukacjia{
  width: 50%;
  height: 350px; /* np. ustalona wysokość boxa */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f500;
  padding: 0; /* padding powoduje dodatkowe problemy */
}
@media (max-width: 768px) {
.obraz-edukacjia{
  width: 100%;

}
}
.obraz-edukacjia img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}
.edukacjia-header{
font-size: 75px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 700;
margin-bottom: 30px;
padding: 2%;
color: var(--text);
}
@media (max-width: 768px) {
  .edukacjia-header{
  font-size: 40px;
  font-weight: 500;
  }
}
.text-p-edukacja{
  width: 100%;
  font-size: 22px;
  padding: 2%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ramka2{
padding: 2%;
background-color: #ffffff00;
height: 100%;
justify-content: center;
text-align: center;
}
.podroze{
  background-color: var(--bg);
  color: var(--text);
justify-content: center;
justify-items: center;
align-items: center;
align-content: center;
width: 100%;
}





.podoze-heder{
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  .podoze-heder{
    font-size: 10px!important;
  }
}
.okontyntenty{

display: flex;
flex-wrap: wrap;
gap: 0px;
justify-content: center;
justify-items: center;
align-items: center;
align-content: center;

}
.okontyntenty{
  flex: 1;
  width: 100%;
  background-color: #00000081;
  color: #063014;
}
.kontynet{
  color: rgb(0, 0, 0);
  background: linear-gradient(to top, #f6f6f6, #f8f8f8);
  position: relative;   /* 🔥 potrzebne */
  overflow: hidden;     /* nic nie wyłazi */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  background-size: 100%;
  text-align: center;
  padding: 1%;
  background-position: center;
  background-repeat: no-repeat;
  width: 25%; /* Przykładowe wymiary */
  min-width: 100px;
  object-fit: cover;    /* obraz wypełnia div */
transition: background-size 0.7s ease-in-out;
  aspect-ratio: 4 / 4;
}

@media (max-width: 468px) {
  .kontynet{
      aspect-ratio: auto;
    font-size: 30px;
    min-width: 100%;
    height: auto;
  }
}
.kontynet:hover{
  background-size: 110%;
}

.ameryka{

}
.afryka{
}
.europa{

}
.azja{
}
.ul-kraje{
  position: relative;
  bottom: 0;
  left: 0;
  color: #6B705C;

  width: 100%;     
max-height: 90%;/* 🔥 nie może zająć więcej niż połowę kafelka */
  overflow-y: auto;        /* jak za dużo krajów – scroll */
  margin: 0;
  padding: 8px;


  font-size: clamp(10px, 1.2vw, 14px);  /* 🔥 skaluje się z ekranem */
}
@media (max-width: 768px) {
.ul-kraje{
  font-size: clamp(10px, 9vw, 16px);  /* 🔥 skaluje się z ekranem */
}
}

.podoze-heder{
    justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  display: flex;
  margin-bottom: 2rem;
}
.liczba-kontynety{
  width: 3rem;
  height: 3rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  color: var(--oliwka);
  background-color: #0000002d;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .liczba-kontynety{
      background-color: #ffffff00;
  }
}

.liczba-k{
  border-radius: 50%;
    justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
    border-color: var(--accent);
    border: solid 2px;
font-size: 1.3rem;
  width: 4vh;
  height: 4vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
background-color: #ffffff;

}
.zanzwa-kontynety{
  padding: 20px;
  font-size: 2rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  align-content: center;
  color: var(--text);
  border-color: #00000000;
}

@media (max-width: 768px){
.zanzwa-kontynety{
  font-size: 1rem;
}
}
.galeria-divy{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.galeria-tekst{
  text-align: left;
  width: 100%;
  top: 0; /* albo np. 80px jeśli masz header */
}

.ramka3{
  flex: 1 1 40%;
  min-width: 300px;
border: solid 1px;
padding: 2%;
border-color: var(--accent);
background-color: var(--bg);
height: 100vh;
color: var(--text);
justify-content: center;
text-align: center;
    position: sticky;
  top: 0; /* albo np. 80px jeśli masz header */
}

@media (max-width: 768px){
.ramka3{
padding: 0%;
height: 28vh;
font-size: 2px!important;
top: 7vh; /* albo np. 80px jeśli masz header */
}
}
.edukacjia-header2{
font-size: 75px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 700;
margin-bottom: 30px;
padding: 2%;
color: var(--text);
}
@media (max-width: 768px){
.edukacjia-header2{
margin-bottom: 0px;
font-size: 55px;
padding: 0%;
}
}

.text-p-edukacja2{
  width: 100%;
  font-size: 22px;
  padding: 2%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px){
.text-p-edukacja2{
  font-size: 12px;
  padding: 2%;
}
}
.galeria-obrazy{
  color: var(--text);
  flex: 1 1 70%;
  flex-wrap: wrap;
  padding: 5%;
  display: flex;
  gap: 2rem;
  background-color: var(--bg-secondary);
  height: 100%;
}


.galeria-obrazy2{
    background-color: var(--bg-secondary);
color: var(--text);
justify-content: center; /* Środkuje elementy w poziomie */
justify-content: space-between;
}
.galeria-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.obraz-gal-1{
    width: 40%;
  height: 100%;
  object-fit: cover;
}
.obraz-gal-2{
  position: relative;
    width: 40%;
  height: 100%;
  object-fit: cover;
}

.galerie{
    width: 60%;
      background-color: #f1f1f1;
}
@media (max-width: 768px){
.galerie{
    width: 100%;
    flex-wrap: wrap;
      background-color: #f1f1f1;
      margin-top: 1rem;
      z-index: -2;
}
}
.ikonki-tylko-tel{
  display: none;
}

@media (max-width: 768px){
.ikonki-tylko-tel{
  margin-top: 22px;
  color: rgb(239, 255, 192);
  display: flex;
  justify-content: center;
  gap: 21px;
  margin-bottom: 9rem;
  align-items: center; 

}
}

.pop{
  padding: 1%;
  background-color: #6b705c93;
  font-family: cursive;
  font-size:1rem;
}
.obdyp{
  background-color: #616558a4;
}
.sas{
  color: #ffffff;
  font-size: clamp(10px, 4.2vw, 20px);
  background-color: transparent !important;
}

.sas:hover{
  color: #d24d00;
}
.olol{
  color: #ffffff;
  text-align: center;
}

:root {
  --element-czesc-bg: #f5f5f5;
  --bd-tytol-dawid: #313131;
  --bg-min-nav: #ffffff;
  --przezroczyste-nav: #ffffff00;
  --mini-nav: rgba(235, 235, 235, 0.82);
  --bg: #ffffff;
  --bg-secondary: #f5f5f5;
  --text: #272727;
  --text-secondary: #575757;
  --accent: #ff5e0000;
  --nav-bg: rgb(255, 255, 255);
  --card-bg: #ffffff;
  --modal-bg: #ffffff;
  --x-menu: rgba(255, 255, 255, 0.544);
  --oliwka:  #6B705C;
  --nananana:  #000000;
}

body.dark-theme {
  --element-czesc-bg: #000000;
  --bd-tytol-dawid: #1c1c1c;
    --mini-nav: rgba(22, 22, 22, 0.82);
  --bg-min-nav: #0b0b0b;
  --bg: #000000;
  --bg-secondary: #1e1e1e;
  --text: #f5f5f5;
  --text-secondary: #b5b5b5;
  --accent: #ff5e0000;
  --nav-bg: rgba(0, 0, 0, 0.95);
  --card-bg: rgba(0,0,0,0.5);
  --modal-bg: rgba(0,0,0,0.9);    
  --x-menu:  rgba(33, 33, 33, 0.82);
  --oliwka:  #7b8264;
}


body.contrast {
  --element-czesc-bg: #000000;
  --bd-tytol-dawid: rgb(255, 145, 0);
  --mini-nav: rgb(0, 0, 0);
  --bg-min-nav: #0b0b0b;
  --bg: #000000;
  --bg-secondary: #cfff0f;
  --text: #ffee00;
  --text-secondary: #ffdd00;
  --accent: #ffdd00;
  --nav-bg: #ffdd00; 
  --card-bg: #ffdd00; 
  --modal-bg: #ffdd00;    
  --x-menu:  rgb(255, 251, 0);
  --oliwka:  #ff0000;
  --oliwka:  #7rgb(0, 255, 21)
}
#loader{
  position: fixed;
  inset: 0;
  background: #ffffff;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transition: opacity 0.8s ease; 
}
#loader.fade-out{
  opacity: 0;
  pointer-events: none;
}

#loader.hidden {
  display: none;
}
.spinner{
  position: absolute;
  width: 30px;
  height: 30px;
  border: 5px solid #7e7e7e;
  border-top: 5px solid #9cc328;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}
.ring-dwa{
  width: 50px;
  height: 50px;
  border: 4px solid #7e7e7e;
  border-top: 4px solid #9cc328;
  animation: spin 2s linear infinite reverse; 
}
.ring-trzy{
  width: 70px;
  height: 70px;
  border: 3px solid #7e7e7e;
  border-top: 3px solid #9cc328;
  animation: spin 3s linear infinite; 
}
@keyframes spin{
  to{ transform: rotate(360deg); }
}

#content{
  visibility: hidden;
}


.prh1{
text-align: left!important;
max-width: 88ch;
margin-top: 6rem;
color: #000000;
width: 100%;
font-size: large;
background-color: transparent;

}
.prh2{
color: var(--bd-tytol-dawid);
line-height: 4rem;
text-align: left;
font-size: medium;
background-color: transparent;
}
.p-pp{
color: #4b4b4b;
line-height: 2rem;
text-align: left;
font-size: medium;
background-color: transparent;
}

.main2{ 
padding: 8%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body2{
  overflow: scroll;
}
.powrot{
  list-style: none;
  position: fixed;
  color: #000000;
}
.a2{
  text-decoration: none;
  color: #000000;
  list-style: none;
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
}
.a1{
  color: #000000;
}


.inwalida{
  position: fixed;
  background-color:#000000;

  right: 0;
align-content: center;
text-align: center;
  bottom: 0;
  z-index: 1;
  margin-bottom: 4rem;
}

.inwalidaa{
 color: #000000;
background-color: transparent !important;
}

.inwalida-poz{
    width: 3rem;
  height: 3rem;
    background-color: #9cc328;
  backdrop-filter: blur(5px);
  align-content: center;
}
.inwalida-poz:hover{
background-color: #9cc328;
color: white;
}
.poza{
    position: relative;
  right: 0;
align-content: center;
text-align: center;
  bottom: 0;
  z-index: 1;
  width: 3rem;
  height: 3rem;
    background-color:rgba(235, 235, 235, 0.897);
  backdrop-filter: blur(5px);
}

.poza-hiden{
display: none;
}
button:hover{
background-color: #9cc328;
color: white;
}
