*{
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
}

html {
scroll-behavior: smooth;
}

body{
overflow: hidden;
background-color: var(--min-o-bg);
}
.body2{
overflow: auto;
background-color: var(--min-o-bg);
}

main{
margin: 0 auto;
margin-left: 8%;
margin-right: 8%;
background-color: var(--min-o-bg);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
color: rgba(255, 255, 255, 0);
}
@media (max-width: 768px) {
main{
margin: 0 auto;
margin-left: 0vw;
margin-right: 0vw;
}

}
.mam-main{
  margin: 0 !important;
}
.gory-mask {
  position: absolute;
  bottom: 0; /* na dole */
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 3;
}
.gory-mask path{
  fill: var(--min-o-bg);
}
/* ==========================================
STRONA OGULNE – CSS / NAWIGACJA MENU
========================================== */
.nav{
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
background-color: rgba(255, 255, 255, 0.9) !important;
top: 0;
padding-right: 10%;
padding-left: 10%;
justify-content: flex-end;
gap: 30px;
z-index: 10;
display: flex;
align-items: center;
position: fixed;
width: 100%;
height: 100px;
background-color: rgba(255, 255, 255, 0.779);
list-style-type: none;
transition: height 0.6s ease, gap 0.6s ease, border-bottom-color 0.9s ease; 
}

/* ==========================================
STRONA OGULNE – CSS / NAWIGACJA MENU na mobilki
========================================== */


@media (max-width: 768px){

  .nav{
    position: fixed;
    top: 7vh;
    right: 0;

    width: 100%;
    height: 93vh !important;
    background-color: transparent !important;
    padding: 2rem;
  backdrop-filter: blur(10px);
    transform: translateY(-20%);
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
      opacity: 0;
    visibility: hidden;
    transition: 
      opacity 0.4s ease,
      transform 0.4s ease,
      visibility 0.4s ease;
  }

  #nav-header.open{
    transform: translateX(0);
    background-color: var(--ciemno-bi-cz) !important;
      opacity: 1;
    visibility: visible;
  }

  .ulul{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1.5rem;
  
  }

  .anno{
    margin-left: 20%;
    margin-bottom: 10%;
    width: 200px;
    margin-top: auto;
        justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
  }
}

/* Ukrywamy listę */
/* Ukrywamy listę */
.lista {
    list-style-type: none;

    text-decoration: none;
    display: none;
    position: absolute;
    list-style: none;
    padding: 5px;
}
@media (max-width: 768px) {
.lista {
    display:block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

}
/* Magia: Kiedy najedziesz na LI, pokaż listę w środku */
li:hover .lista {
    display: block;
    cursor: pointer;
}
.li-lista {
  list-style-type: none;

    text-decoration: none;
    display: block;
color: rgb(40, 40, 40) !important;
font-weight: 200;
}
.li-lista:hover {
  list-style-type: none;

    text-decoration: none;
  color: var(--min-b-bg);
  background-color: #68686863;
}
/* ==========================================
STRONA OGULNE – CSS / NAWIGACJA MENU z x ponizej 768 (telefony tablety)
========================================== */
.X-menu{   
background: var(--x-menu);
}

@media (max-width: 768px) {
  .X-menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    /* ZAMIAST 5vh użyj px: */
    height: 7svh; 
    align-content: center;
    align-items: center;
    z-index: 2000;
    /* Dodaj to, żeby "zamrozić" element: */
    transform: translateZ(0);
  }

}
.burger{
  position: relative;
  display: none;
}

@media (max-width: 768px){
  .burger{
    position: relative;
    display: flex;
      flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    color: var(--min-o-bg);
    z-index: 1100;
    width: 15px;
    height: 15px;
    text-align: left;
    font-size: 1px;
    margin: 7%;
  }
}
#overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 900;
}

#overlay.active{
    z-index: 900;
  opacity: 1;
  pointer-events: auto;
}



/* ==========================================
efekt zminy burgera na x-a
========================================== */
.burger span{
  display: block;
  height: 2px;
  color: var(--min-b-bg);
  background-color: var(--min-b-bg);
  width: 150%;
  border-radius: 2px;
  transition: 0.3s ease;
}
.SPAN-INNY{
   width: 100% !important;
   right: 0;
  margin-left: calc(150% - 100%);
}
.burger:hover{
  background-color: transparent;
}
body.dark-theme span{
}
.burger.open span:nth-child(1){
  transform: rotate(45deg) translate(1px, 8px);
}

.burger.open span:nth-child(2){
  opacity: 0;
}

.burger.open span:nth-child(3){
  transform: rotate(-45deg) translate(1px, -8px);
}
/* ==========================================
zmniejszenie paska navigacji przy scrollowaniu patrz js 
========================================== */

.ulul{
display: flex;
width: auto;
align-items: center;
list-style-type: none;
gap: 20px;
font-size: 15px;
font-family: sans-serif;
flex-wrap: nowrap;
}
@media (max-width: 768px){
  .ulul{
  font-size: 25px;
  align-items: center;
  }
}
.a0{
text-decoration: none;
cursor: pointer;
color: rgb(0, 0, 0);
transition:0.3s;
}
@media (max-width: 768px){
.a0{
background-color: transparent;
font-weight: 200 !important;
color: rgb(40, 40, 40) !important;
  }
}
body.dark-theme .a0{
  color: white;
}
body.contrast .a0{
  color: var(--oliwka);
}
.a0:hover{
  color: #8d8d8d;
;
}
.a0.active{
  color: var(--min-b-bg);
}
body.dark-theme .a0:hover{
  color: #8d8d8d;
}
.a0.active::after{
  width: 100%; 
  color: var(--oliwka);
}
@media (max-width: 768px){
.a0.active::after{
display: none;
}
}
.a0{
position: relative;
color: var(--nananana);
padding-top: 3%;
padding-bottom: 3px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
font-style: normal;
}

.a0::after{
  content: "";
  position: absolute;
  left: 50%;            /* start w środku */
  bottom: 0;
  height: 1px;
  width: 0;             /* start od 0 */
  background-color: var(--oliwka);
  transform: translateX(-50%);  /* przesunięcie środka pod tekst */
  transform-origin: center;     /* linia rośnie od środka */
  transition: width 0.3s;
    margin-top: 10px; 
    z-index: 999;
}
body.dark-theme .a0::after{
  background-color: #ffffff;
}
.a0:hover::after {
  width: 100%; 
  color:blue ;   /* rozwija się do pełnej długości tekstu */
}
.as{
display: flex;
gap: 10%;
width: 70%;
}

/* ==========================================
STRONA OGULNE – CSS / NAWIGACJA - PRZYCISK (dołącz do nas)
========================================== */

.anno{
width: 300px;
margin-right: 0%;
font-family: sans-serif;
color: #000000;
}

.naglowek{
background-image: url(./anna-zdjecia/Projekt\ bez\ nazwy\ \(8\).png);
position: relative;
z-index: 1; 
background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed; 
color:white;
height: 100svh;
width: 100%;
}
@media (max-width: 768px){
.naglowek{
background-image: url(./anna-zdjecia/KONTAKT\ \(1\).png);
height: 50svh;
background-position-y: 0px !important;
margin-bottom: 1rem;
  background-position: 30% center; 
}
}


.anna-hero{
  display: flex;
  padding: 5%;
margin-top: 10svh;
  flex-direction: column;
  justify-content: center; /* PION */
  align-items: center;   
font-weight: 800;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (max-width: 768px){
.anna-hero{
padding-top: 10svh;
margin-top: 0;
}
}
.h1{
      font-family:'Times New Roman', Times, serif;
}

.h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: var(--min-b-bg);
    font-weight: 100;
}
.h2{
  font-family:'Times New Roman', Times, serif;
  color: #080808;
      font-size: 4em;
}
@media (max-width: 768px){
.h2{
   
      font-size: 3em;


}
}
.boxed-text span {
  font-family:'Times New Roman', Times, serif;
  padding: 2px;
  display: inline-flex;
  width: auto;
  height: 10rem;
-webkit-backdrop-filter: blur(5px);
  color: #080808;
  align-items: center;
  justify-content: center;
  margin: 4px;
  font-size: 4em;
}
@media (max-width: 768px){
.boxed-text span {    
  font-size: 1.4em;
    height: 3rem;


}
}
.section-dlaczego{
margin: 10%;
margin-top: 2vh;
display: flex;
flex-wrap: wrap; 
background-color: var(--min-o-bg);   /*background-color: #EBD5AB;*/

}
@media (max-width: 768px){
.section-dlaczego{
    flex-direction: column; /* stackuj w dół */
}
}
.p-nd-for-mob{
  display: none;
}
@media (max-width: 768px){
.p-nd-for-mob{
  color: var(--oliwka);
  font-size: 27px;
  text-align: center;
  font-style: oblique; 
  display: block;
}
}

.div1{
  flex: 1 1 40%;
  min-width: 40px;
  height: fit-content;
background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
/*box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.211);*/
  aspect-ratio: 16 / 9; 
}

@media (max-width: 768px){
.div1{
    min-width: auto;
}
}
#rotator{
  height: auto!important;
  transition: 0.2s ease;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 1.2rem;
  transition: opacity 0.3s ease;
  text-align: center;
}
.ne-clic{
  pointer-events: none !important;
}
.bord{
  border-color: #00ffd9 !important;
}
.ukidate img{
    filter: brightness(0.2);
}
#rotator{
}
.fasra{
    filter: brightness(none) !important;
}
.ukidate .overlay-text{
  display: block;
  opacity: 1;
  color: white;
  z-index: 3;
}
.heder-m{
  position: fixed;
  padding: 3%;
  color: var(--oliwka);
  background-color: white;
  text-align: center;
  font-weight: 100;
  margin-top: 3rem;
  z-index: 1;
  font-size: 2.5em;
  margin-bottom: 5rem;
  width: 100%;
}
@media (max-width: 768px){
.heder-m{
  text-align: center;
  font-weight: 100;
  
  margin-top: 4rem;
  font-size: 1em;
  margin-bottom: 0;
}
}
.div2{
align-content: center;
width: 35%;
color: var(--szary-bialy-text);
  flex: 1 1 35%;
  min-width: 260px;
  font-size: clamp(1.0rem, 1vw, 2rem);
  padding: 2%;
  padding-left: 10%;
  line-height: 3rem;
  font-weight: 400;
text-align: left;
}
.heder2{
  font-size: clamp(2rem, 3vw, 4rem);
  margin-top: 1rem;
  color: gray;
  margin-bottom: 6rem;
  font-weight: 200;
}
.mapseched{
    margin-bottom: 1rem;

}
@media (max-width: 768px){
.heder2{
  margin-bottom: 3rem;
}
}
.p-nd{
    color: var(--oliwka);
      font-size: 27px;
    font-style: oblique;
}
@media (max-width: 768px){
.p-nd{
margin-top: 7rem;
}
}
.p{
color: var(--min-b-bg);
  line-height: 1.8rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
@media (max-width: 768px){
.div2{
  padding: 0%;
  width: 100%;
  margin-top: 40svh;
    line-height: 1.5rem;
    text-align: left;

  }
}

.ukidate {
  text-align: center;
  align-content: center;
  width: 27%;
}

.ukidate img {
  width: 90%;
  aspect-ratio: 4/4;       /* pionowy proporcjonalny box */
  object-fit: cover;       /* ładne przycięcie */
}
.jez {
  border: none !important;
  text-align: center;
  align-content: center;
  width: 10%;
}

.jez img {
  width: 90%;
  border-radius: 7%;
  aspect-ratio: 4/3;       /* pionowy proporcjonalny box */
  object-fit: cover;       /* ładne przycięcie */
  filter: none !important;
}
@media (max-width: 768px){
.jez img {
  width: 90%;
  border-radius: 7%;
  aspect-ratio: 4/3;       /* pionowy proporcjonalny box */
  object-fit: cover;       /* ładne przycięcie */
}
.jez {
  border: none !important;
  text-align: center;
  align-content: center;
  width: 10%;
}
}

@media (max-width: 768px){
.ukidate img {
  width: 90%;
  aspect-ratio: 4/4;       /* pionowy proporcjonalny box */
  object-fit: cover;       /* ładne przycięcie */
}
.ukidate{
  width: 100%;
}
}
.p22{
color: var(--szary-bialy-text);
  font-size: clamp(1.0rem, 1.3vw, 2rem);
  line-height: 5rem;
text-align: center;
}
.p33{
  line-height: 2rem !important;
  margin-bottom: 1rem;
}



/* ============================================================================================================================
COOKIE 1 – CSS
============================================================================================================================ */
#cookie-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
background: rgba(0, 0, 0, 0.544);
  z-index: 9998; /* O jeden mniej niż baner */
  display: block;
}

#cookie-banner {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 20vh;
background: rgb(255, 255, 255); backdrop-filter: blur(70px);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: black;
padding: 20px;
font-weight: 700;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 9999;
}
@media (max-width: 768px) {
#cookie-banner {
gap: 2%;
width: 100%;
height: 40vh;
padding: 20px;
flex-direction: column;
justify-content:flex-start
}
}

/* ==========================================
COOKIE - CSS INFORMACJIA cookie
========================================== */
.p-coo{
font-size: 80%;
}
@media (max-width: 768px) {
.p-coo{
font-size: 90%;
margin-bottom: 0rem;
}
}

/* ==========================================
COOKIE - CSS PRZYCISKI
========================================== */
#cookie-banner button {
margin-left: 10px;
}


/* ==============
PRZYCISKI accept
=================*/
.accept{
width: 20dvw;
padding: 1%;
background-color:#000000fd;
border-radius: 0.30rem;
color: white;
font-weight: 750;
transition: background-color 0.3s ease, color 0.3s ease;
}
@media (max-width: 768px) {
.accept{
width: 90dvw;
height: 7svh;
}
}
.accept:hover{
color: #000000;
border: solid 1px #000000;;
background-color: white;
}


/* ==============
PRZYCISKI delete
=================*/
.delete{
width: 20vw;
font-weight: 750;
padding: 1%;
background-color:#ffffffc7;
border-radius: 0.30rem;
border: solid 1px #000000;
transition: background-color 0.3s ease, color 0.3s ease;
color: rgb(0, 0, 0);
}
@media (max-width: 768px) {
.delete{
width: 90dvw;
height: 7svh;
}
}
.delete:hover{
background-color: rgba(170, 0, 0, 0.389);
color: white;
}

.anna{
  position: fixed;
  margin: 5%;
margin-left: 20%;
    font-size: clamp(1.0rem, 1.3vw, 2rem);
    color: var(--min-b-bg);

  left: 0;
}
@media (max-width: 768px) {
.anna{
display: none;
}
}
.dolacz-do-nas{
  padding: 3%;

list-style-type: none;
border-style: solid;
border-width: 1.0px;
/* wypycha element w prawo */  
text-decoration: none;
cursor: pointer;
color: #808080;
transition: all 0.3s;
color: var(--min-b-bg);
}
@media (max-width: 768px) {
.dolacz-do-nas{
display: none;
}
}

.dolacz-do-nas-nax{
display: none;
}
@media (max-width: 768px) {
.dolacz-do-nas-nax{
  display: block;
  padding: 2%;
  font-size: 90%;
list-style-type: none;

text-decoration: none;
color: #000000;
margin: 3%;
right: 0;
top: 0;
width: fit-content;
align-content: center;
height: 60%;

}
}

.dolacz-do-nas:hover{
border-color: #ffffff;
background-color: #0000003d;
color: #ffffff;
}
.lang-switcher{
  display: flex;

  gap: 25%;
  width: 5rem;
}
.button-language{
  padding: 3%;
align-items: center;
align-content: center;
  transform: scale(1.6);

}
.lang-switcher button.active-lang {
  background-color: var(--oliwka);
  transform: scale(1.7);
  color: #fff;
}

.lang-switcher button {
  display: flex;        
  width: 1rem;   
  height: 1rem;
  align-items: center;      
  justify-content: center;  
  font-size: 0.5em;
    font-weight: 600; 
  padding: 0;               
}

.ikonki{
  display: flex;
justify-content: right;
gap: 2rem;
}
.fab{
color: #959595;
text-align: right;
margin-top: 2rem;
font-size: 1.5em;

}
.fab:hover{
  color: var(--oliwka);
}

.li-jz {
  display: flex;
  flex-wrap: wrap;       /* pozwala zawijać w kolejne wiersze */
  gap: 7px;             /* odstęp między kafelkami */
  justify-content: left; /* wyrównanie w poziomie */
  margin: 20px 0;

}
@media (max-width: 768px) {
.li-jz {
  justify-content: left; 

}
}
.li-jz div {
  background-color: var(--min-o-bg);
  border: 2px solid #bcbcbc;
  font-size: 1.3rem;
  font-weight: 400 !important;
  padding: 1px 2px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.li-jz div:hover {
  color: #c7c7c7;
  transform: scale(1.1);
}

.umie{
  background-color: var(--min-o-bg);
  font-size: 3rem;
  justify-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
    color: var(--szary-bialy-text);
}
.umie:hover{
  backdrop-filter:var(--bd-tytol-dawid);
}
@media (max-width: 768px) {
.umie{
  font-size: 1.5rem;
}
}
.gray-baner{
  width: 100%;
  height: auto;
  background-color: #F6F6F6 !important;
  font-size: 3rem;
  justify-items: center;
  margin-top: 2rem;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
    color: gray !important;

}
.tr{
      color: gray !important;
      padding: 2%;

}
.treesteps{
  font-size: 14px;
  align-content: baseline;
  padding: 5%;
  line-height: 3rem;
  font-weight: 100;
  text-align: center;
}
.work{
  font-size: larger;
}
.sekc-iko-um{
font-size: 2em !important;
text-align: center;
color: var(--oliwka) !important;
}
.fade-hr {
  border: none;
  height: 1px;
  width: 80%;
  margin: 3rem auto;
  background: var(--min-b-bg);
}
.wycieczki {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

/* wspólne cechy */
.wycieczka {
  background-image: url(./anna-zdjecia/);
  aspect-ratio: 6 / 3;
  display: flex;
  gap: 2%;
  flex-direction: column;
  justify-content: flex-end;   /* dół */
  font-size: 2.2em;
  background-size: cover;
  background-position: center;
  border-radius: 1px;
  transition: transform .3s ease, filter .1s ease, box-shadow .3s ease;
}
.wycieczka-1{
  background-image: url(./anna-zdjecia/FB_IMG_1769441706873.jpg);
}
.wycieczka-2{
  background-image: url(./anna-zdjecia/IMG_20241106_060751.jpg);}
.wycieczka-3{
  background-image: url(./anna-zdjecia/kili_214018.jpg);
}
.wycieczka-4{
  background-image: url(./anna-zdjecia/kili_214018.jpg);
}
.wycieczka-5{
  background-image: url(./anna-zdjecia/kili_214018.jpg);
}
.wycieczka-6{
  background-image: url(./anna-zdjecia/kili_214018.jpg);
}
/* hover*/
.wycieczka:hover {
  box-shadow: 0 20px 40px rgba(0,0,0,.3);
    filter: brightness(0.6);

}
@media (max-width: 500px) {
  .wycieczki { 
  padding: 0px;
  }
}
/* indywidualne tła / kolory */


/* RWD */
@media (max-width: 900px) {
  .wycieczki { grid-template-columns: repeat(2, 1fr); 
  gap: 6px;
  }
}
@media (max-width: 500px) {
  .wycieczki { grid-template-columns: 1fr; }
}
.button-wycieczki{
background: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.85) 0%,
  rgba(0, 0, 0, 0.6) 50%,
  rgba(0, 0, 0, 0.3) 80%,
  rgba(0, 0, 0, 0) 100%
);  color: #ffffff;
  border-radius: 1px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
  align-content: center;
  font-size: 0.8em;
  font-weight: 500;
  height: 60%;
  width: 100%;
}
@media (max-width: 768px) {
.button-wycieczki{
  font-size: 0.6em;
}
}
.button-wycieczki:hover{
}

.zobacz{
list-style: none;
color: #000000;
width: 12% !important;
}

.wycieczka-na-s{
padding: 10%;
font-weight: 400 !important;
line-height: 1.5rem;
text-align: left;
font-size: clamp(0.8rem, 1vw, 2rem);

}

.wycieczka-heder-s{
font-size: 4em;
color: var(--oliwka);
font-size: clamp(2.0rem, 1vw, 6rem);

}

.wycieczeka-p-s{
line-height: 2rem;
color: var(--bd-tytol-dawid);
}
.button-wycieczka-powrut{
display: none;
}
@media (max-width: 768px) {
.button-wycieczka-powrut{
  color: var(--min-b-bg);
  display: flex;
    display: inline-flex;
  align-items: center;   /* WYŚRODKOWANIE PIONOWE */
  gap: 8px;              /* odstęp strzałka–tekst */
  text-decoration: none;
  margin-left: 8%;
    font-family: auto;

  height: 15%;
  width: 50%;

    font-size: 1em;
    font-weight: 300;
    margin: 0;


}
}
.strzlka{
  font-size: 1.5em;
  color: var(--min-b-bg);
  font-weight: 200;
}
@media (max-width: 768px) {
.strzlka{
  font-size: 1.1em;
}
}
.button-wycieczka-powrut:hover{
  color: #ffffff;
}


.kontakt-sekcja{

}


/* Sekcja kontaktu */
.kontakt-sekcja {
  display: flex;
  width: 1000px;
  justify-content: center;
  min-height: 80vh;
  padding: 20px;
}
@media (max-width: 768px) {
.kontakt-sekcja {
  padding: 0;
}
}
/* Formularz */
#contact-form {
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  background-color: var(--min-o-bg); 
  width: 100%;
  max-width: 800px;
  gap: 15px;
}
.main-k{
  padding: 5%;
  margin: 0;
  background-color: white;
}
/* Inputy i textarea */
#contact-form input,
#contact-form textarea {
  padding: 10px 15px;
  border: none;                /* usuwamy wszystkie ramki */
  border-bottom: 2px solid #ccc; /* kreska tylko na dole */
  border-radius: 0;             /* brak zaokrągleń */
  font-size: 16px;
  outline: none;
  background-color: white;    /* szare tło */
  color: var(--min-b-bg);                  /* tekst na szarym tle widoczny */
  width: 100%;
  box-sizing: border-box;
}
#contact-form textarea{
  height: 20rem;
}


/* Focus inputów */
#contact-form input:focus,
#contact-form textarea:focus {
  border-color: var(--oliwka);
}

/* Przycisk */
#contact-form button {
  padding: 12px;
  background: #000000;
  color: #fff;
  border: solid 3px;
  border-radius: 1px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  border-color: black;
}

#contact-form button:hover {
  background: var(--min-o-bg);
  color: var(--min-b-bg);
  border-color: var(--min-b-bg);
}

/* Placeholder */
#contact-form input::placeholder,
#contact-form textarea::placeholder {
  color: var(--min-b-bg);
}
header{
  color: var(--min-b-bg);
}
.hed-con{
 text-align: center;
 color: gray;
 font-weight: 200;
 margin-top: 1rem;
 margin-bottom: 1rem;
 font-size: clamp(2rem, 3vw, 4rem);
}
.xd{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* rozkłada elementy na całej szerokości */
}
@media (max-width: 768px) {
.delete{
    justify-content: center; /* rozkłada elementy na całej szerokości */
}
}
.contakt-bord{
  margin-top: 5%;
  height: 100%;
  padding: 5%;
  width: 40rem;
  font-weight: 900;
  font-size: 3rem;
  color: #171717;
}
.p-k{
    font-weight: 400;
color: var(--min-b-bg);
}

@media (max-width: 768px) {
.contakt-bord{
  font-size: 1.5rem;
}
}

.wiecej-o-anna{
    text-decoration: none;
    color: #959595;
    padding: 2%;
      border: 1px solid #959595; 
}
.secja-do-mapa{
  text-align: center !important;
box-shadow: none;
margin-left: 15%;
margin-right: 15%;
height: 70vh;
}
.p44{
  font-size: 22px;
  color: gray;
}
@media (max-width: 768px) {
.p44{
  font-size: 12px;
  color: gray;
}
}
/* Styl przycisku */
.btn-travel {
  display: inline-block;
  padding: 0.75rem 1.5rem;   /* większy komfort kliknięcia na mobile */
  background-color: #6B705C;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 40px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
}

/* Hover i focus */
.btn-travel:hover,
.btn-travel:focus {
  background-color: #a5a58d; /* jaśniejszy odcień przy najechaniu */
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

/* Responsywność: większa czcionka na mobile */
@media (max-width: 768px) {
  .btn-travel {
    font-size: 0.8rem;
    padding: 0.85rem 1.8rem;
  }
}

.mapa {
  width: 100%;
  max-width: 2000px;
  height: 800px;
  margin: 0 auto;
  box-shadow: inset 0 0 40px rgba(148, 148, 148, 0.6);
  margin-top: 12vh;
        overflow: hidden; 
  position: relative;
touch-action: none;
  pointer-events: all; /* Kontener zawsze reaguje na dotyk */
  cursor: grab;       /* ręka przy przesuwaniu */
}
@media (max-width: 768px) {
.mapa {
  margin-top: 10vh;

}
}
#map-svg {
fill: #424b3e;
  stroke: var(--map-stroke);
  height: 100%;
  transform-origin: 0 0;  /* ważne dla scroll zoom */
}

.pin {
  transition: transform 0.2s;
}




/* Mobile responsive */
@media (max-width: 768px) {
  .mapa {
    width: 100%;
    height: 90vh;       /* DUŻE pole robocze */
    touch-action: pinch-zoom;
    margin-top: 7h;
  }

  #map-svg {
    width: 100%;
    height: 100%;
        overflow: visible; /* NIE UCINA */
  touch-action: none;
  cursor: grab;
    /*touch-action: none;
      overflow: visible; /* NIE UCINA */

  }
}



:root {
  --ciemno-bi-cz: #f2f2f2;
  --map-bg: #6B705C;
  --map-stroke: #ffffff00;
  --pin-color: #ff0000;
  --input-contakt: #fcfcfc;
  --min-o-bg: #ffffff;
  --min-b-bg: #000000;
  --szary-bialy-text: rgb(40, 40, 40);
  --bd-tytol-dawid: #313131;
  --bg-min-nav: #ffffff;
  --przezroczyste-nav: #ffffff00;
  --mini-nav: rgba(235, 235, 235, 0.82);
  --bg: #ffffff;
  --bg-secondary: #f5f5f5;
  --text: #272727;
  --text-secondary: #575757;
  --accent: #ff5e0000;
  --nav-bg: rgb(255, 255, 255);
  --card-bg: #ffffff;
  --modal-bg: #ffffff;
  --x-menu: #ffffff;
  --oliwka:  #6B705C;
  --nananana:  #000000;
}

body.dark-theme {
  --ciemno-bi-cz: #040404;
  --map-bg: #717171;
  --map-stroke: #000000;
  --pin-color: #ff0000;
  --input-contakt: #1a1a1a;
  --min-o-bg: #000000;
  --min-b-bg: #ffffff;
  --szary-bialy-text: rgb(158, 158, 158);
  --bd-tytol-dawid: #1c1c1c;
    --mini-nav: rgba(22, 22, 22, 0.82);
  --bg-min-nav: #0b0b0b;
  --bg: #000000;
  --bg-secondary: #1e1e1e;
  --text: #f5f5f5;
  --text-secondary: #b5b5b5;
  --accent: #ff5e0000;
  --nav-bg: rgba(0, 0, 0, 0.95);
  --card-bg: rgba(0,0,0,0.5);
  --modal-bg: rgba(0,0,0,0.9);    
  --x-menu:  rgb(8, 8, 8);
  --oliwka:  #7b8264;
}


body.contrast {
  --ciemno-bi-cz: #000000;
  --map-bg: #000000;
  --map-stroke: #fbff00;
  --pin-color: #ff0000;
  --input-contakt: #000000;
  --min-o-bg: #000000;
  --min-b-bg: #fffb00;
  --szary-bialy-text: rgb(234, 255, 0);
  --bd-tytol-dawid: rgb(255, 145, 0);
  --mini-nav: rgb(0, 0, 0);
  --bg-min-nav: #0b0b0b;
  --bg: #000000;
  --bg-secondary: #cfff0f;
  --text: #ffee00;
  --text-secondary: #ffdd00;
  --accent: #ffdd00;
  --nav-bg: #ffdd00; 
  --card-bg: #ffdd00; 
  --modal-bg: #ffdd00;    
  --x-menu:  rgb(0, 0, 0);
  --oliwka:  #fff200;
  --oliwka:  #7rgb(0, 255, 21)
}

/* =====================================================================
  dostempnosc - ikonki inwalidy
   ===================================================================== */
.inwalida{
  position: fixed;
  background-color:#000000;

  right: 0;
align-content: center;
text-align: center;
  bottom: 0;
  z-index: 1;
  margin-bottom: 4rem;
}
.material-symbols-outlined{
  background-color: transparent;
  color: white;
}

#wysoki-kontrast{
  background-color: transparent;
}

#toggle-theme{
  background-color: transparent;
}
.inwalidaa{
 color: #ffffff;
background-color: transparent !important;
}

.inwalida-poz{
    width: 2rem;
  height: 2rem;
    background-color: #0d0082;
  backdrop-filter: blur(5px);
  align-content: center;
}

.poza{
    position: relative;
  right: 0;
align-content: center;
text-align: center;
  bottom: 0;
  z-index: 1;
  background-color: transparent;
  height: 2rem;
  backdrop-filter: blur(5px);
}

.poza-hiden{
display: none;
}



/* =====================================================================
  polityka prywatnosci
   ===================================================================== */

.prh1{
text-align: left!important;
max-width: 88ch;
margin-top: 6rem;
color: #000000;
width: 100%;
font-size: large;
background-color: transparent;

}
.prh2{
color: var(--bd-tytol-dawid);
line-height: 4rem;
text-align: left;
font-size: medium;
background-color: transparent;
}
.p-pp{
color: #4b4b4b;
line-height: 2rem;
text-align: left;
font-size: medium;
background-color: transparent;
}

.main2{ 
padding: 8%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body2{
  overflow: scroll;
}
.powrot{
  list-style: none;
  position: fixed;
  color: #000000;
}


.a2{
  text-decoration: none;
  color: #000000;
  list-style: none;
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
}
.a1{
  color: #000000;
}
/*
#loader{
  position: fixed;
  inset: 0;
  background: #ffffff;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transition: opacity 0.8s ease; 
}
#loader.fade-out{
  opacity: 0;
  pointer-events: none;
}

#loader.hidden {
  display: none;
}
.spinner{
  position: absolute;
  width: 30px;
  height: 30px;
  border: 5px solid #7e7e7e;
  border-top: 5px solid #0022ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}
.ring-dwa{
  width: 50px;
  height: 50px;
  border: 4px solid #7e7e7e;
  border-top: 4px solid #0022ff;
  animation: spin 2s linear infinite reverse; 
}
.ring-trzy{
  width: 70px;
  height: 70px;
  border: 3px solid #7e7e7e;
  border-top: 3px solid #0022ff;
  animation: spin 3s linear infinite; 
}
@keyframes spin{
  to{ transform: rotate(360deg); }
}
*/
.footer {
  background: #111;
  color: #fff;
  padding: 4rem 2rem 2rem;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.footer-col h3,
.footer-col h4 {
  margin-bottom: 1rem;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 0.5rem;
}

.footer-col a {
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-col a:hover {
  color: #fff;
}

.footer-bottom {
  margin-top: 3rem;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
}
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.dolacz-do-nas-footer {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 2rem;

  font-size: 0.95rem;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;

  transition: all 0.3s ease;
}

/* hover */
.dolacz-do-nas-footer:hover {
  background: #fff;
  color: #000 !important;
}

/* mobile */
@media (max-width: 768px) {
  .dolacz-do-nas-footer {
    width: 100%;
    max-width: 300px;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
  }
}


/*animacje*/
.ukidate, .div1, .div2, .p, .wycieczka-1, .wycieczka-2, .wycieczka-3, .wycieczka-4, .wycieczka-5, .wycieczka-6, li{
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease; /* płynne pojawianie się */
}
/* Galeria ukryta na start */
/* Galeria miniatur pozioma */
.carousel-container {
  margin-top: 3rem !important;
  margin: 0;
  flex-wrap: wrap;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel{
  display: flex;
  flex-wrap: wrap;
}
/* Karuzela zdjęć */
.carousel img {


  width: 20%;      /* prostokątne miniatury */
  height: 180px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.carousel img:hover {
  filter: brightness(70%);         /* przyciemnienie */
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background-color: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;

  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

/* Responsywność */
@media (max-width: 768px) {
  .carousel img {
    width: 100%;
    height: 260px;
  }
}

#close {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
.visible {
  opacity: 1;
  transform: translateY(0);
}
